__pycache__/

## luos
logs/**
outputs/**
scripts/luotest**
scripts/eval/luotest**
scripts/eval/**.jpg
scripts/eval/**.png
trash/**
cfg/tmp/**
slurm_out/**
slurm-**
## --------

#saved binaries
saved/

#virtual env
env_*

#local experiments
local_exp/
wandb/

#dataset
data

#evaluation
eval.py

#binaries
*.pkl
*.zip

#results
dt_runs/
dqn_runs/
checkpoints/

#jupyter notebooks
notebooks/

#vscode
.vscode

#mujoco
MUJOCO_LOG.TXT